body {
  background-color: #f8f9fa;
}

.jumbotron {
  background-image: url("images/bat.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 200px 0;
}

.lead {
  font-size: 20px;
  margin-top: 20px;
}

.contact {
  background-image: url("images/tom.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 450px;
}

.presentation {
  background-color: #f0f0f0;
  padding: 0;
}

.presentation-text {
  color: #000;
  padding: 20px;
}

.presentation-text h2 {
  font-size: 28px;
  margin-top: 0;
}

.presentation-text p {
  font-size: 16px;
  margin-bottom: 0;
}

.presentation .col-md-6 {
  padding: 0;
}

.presentation img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}